<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/baothai0225/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <!-- Username MUST be your GitHub username -->
      <add key="Username" value="baothai0225" />
      <!-- PAT as the password -->
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
